[submodule "neural_network_dynamics"]
	path = neural_network_dynamics
	url = https://github.com/yzerlaut/neural_network_dynamics
[submodule "plot_tools"]
	path = plot_tools
	url = https://github.com/yzerlaut/plot_tools
[submodule "physion"]
	path = physion
	url = https://github.com/yzerlaut/physion
[submodule "analyz"]
	path = analyz
	url = https://github.com/yzerlaut/analyz
[submodule "MeshParty"]
	path = MeshParty
	url = https://github.com/CAVEconnectome/MeshParty
